body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/Traditional African Baby Naming Ceremonies.png"), url("../images/African Baby Names and Meanings _ LoveToKnow.png");
    /* background-color: #cccccc; */
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  #landing img {
      height: 10em;
      width: 10em;
  } 
  span {
    color: blue;
}
.xcard .card {
    /* padding: 30px; */
    border-radius: 10px;
    /* /background-color: #D9DCDD; */
}

.card h3 {
   
    
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    color:blue;
    margin-right: 50px;
}

.card ul li {
    font-size: 20px;
    line-height: 35px;
}
ul li {
    list-style: none;
}

h1 {
    color: blue;
    text-align: center;
    font-weight: bold;
}


.akan {
    text-align: center;
    color: #e72c80;
    text-decoration: none;
    margin-left: 220px;
    margin-right: 220px;
    font-size: 23px;

}
.cardbody {
    gap:3em;
    text-align: center;
    margin-right: 50px;
    padding:2px;
    color:white;

}

.xcard {
    display: flex;
    align-items: center;
    margin-left: 400px;
}

.formm h2 {
    color: black;
    margin-top: 10em;
    font-size: xx-large;
   
}



#formmm {
    margin-left: 550px;
    color:blue;
    font-size: large;
    font-weight: bolder;
    /* margin-bottom: 200px; */
}

footer {
    margin-left: 20px;
    color:black;
    text-align: center;
}

  /* .top {
    margin-top: 20px;
}



 */