body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/Traditional African Baby Naming Ceremonies.png"), url("../images/African Baby Names and Meanings _ LoveToKnow.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  #landing img {
      height: 10em;
      width: 10em;
  } 
  span {
    color: blueviolet;
}
  /* .top {
    margin-top: 20px;
}

ul li {
    list-style: none;
}

h1 {
    color: orange;
    text-align: center;
    font-weight: bold;
}

h2,
p {
    text-align: center;
    color: white;
}

.formm h2 {
    color: black;
}

.xcard {
    display: flex;
    gap: 50px;
    margin-left: 550px;
}


#formmm {
    margin-left: 780px;
    color: black;
}

footer {
    margin-left: 20px;
    color: white;
}

 */